@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin : 0;
    padding : 0;
    text-decoration: none;
    box-sizing: border-box; 
    border : none;
    font-family: 'Poppins', sans-serif;
}
     

:root{
    --bg-color:#1f242d; 
   --second-bg-color: #323946; 
   --text-color: #fff;
   --main-color:#0ef;
}

body{
    background-color: var(--bg-color);
}

.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    color: var(--text-color);
    font-size: 25px;
    font-weight: 600;
    cursor:default;
    animation:slideRight 1s ease forwards;
}

.navbar a{
    display: inline-block;
    font-size: 15px;
    color: var(--text-color);
    font-weight:500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover {
    color: var(--main-color);
}

.skills h2{
    margin-top: 90px;
}

.skills, .achievements, .languages {
    padding: 20px;
    color: var(--text-color);
    margin-left: 150px;
}

.skills h2, .achievements h2, .languages h2{
    text-align: center;
    font-size: 30px;
}

.skill, .soft-skill {
    margin-bottom: 25px;
    color: var(--text-color);
}

.skill-bar {
    background-color:var(--text-color);
    height: 15px;
    border-radius: 5px;
    width:50%;
}

.skill-level {
    background-color:var(--main-color);
    color: var(--text-color);
    text-align: right;
    border-radius: 5px;
    padding: 5px;
    height: 15px;
}